.axis path, .axis line {
    fill: none;
    stroke: #333;
}
.axis .grid-line {
    stroke: #000;
    shape-rendering: crispedges;
    stroke-opacity: 0.2;
}
.axis text {
    font: 10px Verdana;
}
#demo-box{
	width: 500px;
	height: 500px;
}